.home {
  display: flex;
  padding: 48px;
}
.header {
  padding-bottom: 60px;
  background-color: #c2fff9;
}
.home-content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: fit-content;
  height: 100%;
  padding-bottom: 20px;
  justify-content: center;
}

.img {
  height: 500px;
  width: 500px;
  margin-left: 300px;
}
.text {
  font-size: 30px;
  color: #0e2431;
}

.info {
  color: #0e2431;
  font-size: 60px;
  font-weight: 700;
}
